# Configuración del Sistema Meteorológico del Perú - Clima Perú (Grupo 02)
DATABASE_URL=sqlite:///./clima_peru.db
# Para PostgreSQL:
# DATABASE_URL=postgresql://usuario:password@localhost:5432/clima_peru_db

CACHE_TTL_MINUTES=15
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1
OPEN_METEO_HISTORICAL_URL=https://archive-api.open-meteo.com/v1
CORS_ORIGINS=["*"]
